<app-coordinador>
  
  <div class="p-2" style="height: 100%;">
    <div class="row gy-2 gx-3 align-items-center mt-5">
      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput">Name</label>
        <input type="text" class="form-control" id="autoSizingInput" placeholder="Validar documento" [(ngModel)]="cadena"
        style="width: 300px;">
      </div>
  
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-fw fa-camera"></i>
        </button>
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-success" (click)="validar_documento_participante()">
          <i class="fas fa-fw fa-check"></i>
        </button>
      </div>
    </div>
  
    <div class="p-3" *ngIf="!arreglo_datos_participante_vacio()">
      <h2 class="text-center lead">Aún no hay documentos validados</h2>
    </div>
  
    <div class="card mt-3"  *ngIf="arreglo_datos_participante_vacio()">
        <div class="card-body table-responsive p-0" style="height: 300px">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Evento</th>
                  <th>Descripcion</th>
                  <th>Tipo Participante</th>
                  <th>Fecha Término</th>
                  <th>Folio Documento</th>
                  <th>Documento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let participante of datos_participante">
                  <td>{{participante.Nombres}}</td>
                  <td>{{participante.ApellidoPaterno}}</td>
                  <td>{{participante.ApellidoMaterno}}</td>
                  <td>{{participante.Evento}}</td>
                  <td>{{participante.Descripcion}}</td>
                  <td>{{participante.TipoParticipante}}</td>
                  <td>{{fecha}}</td>
                  <td>
                    {{participante.folio_documento[0].number}}
                   </td>
                  <td>
                    <a class="btn btn-primary" href="{{participante.documento}}">
                        <i class="fas fa-eye"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>

  
</app-coordinador>
