
<nav class="main-header navbar navbar-expand navbar-dark" style="background: #13293D;" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"
          ><i class="fas fa-bars text-white"></i
        ></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link text-white"></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link text-white"></a>
      </li>
    </ul>
</nav>


<aside class="main-sidebar elevation-4" style="background: #13293D;">
  <a href="index3.html" class="brand-link">
    <img
      src="../../../assets/img/logotec.png"
      alt="itch logo"
      class="brand-image"
      style="opacity: 1.0"
    />
    <span class="brand-text font-weight-light text-white">ITCH</span>
  </a>
  <div class="bg-white "></div>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="../../../assets/dist/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block text-white">{{nombre_usuario}}</a>
      </div>
    </div>

    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw text-white"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item menu-open">
          <a href="coordinador/#" class="nav-link active text-white">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left" style="cursor: pointer;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/coordinador" class="nav-link text-white">
                <i class="fas fa-home ps-1"></i>
                <p class="ps-2">Inicio</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="cerrar_sesion()"
               class="nav-link text-white sesion" *ngIf="es_autenticado()">
               <i class="fas fa-sign-out-alt ps-2"></i>
                <p class="ps-2">Cerrar sesión</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="coordinador/#" class="nav-link text-white">
            <i class="fas fa-users"></i>
            <p class="ps-2">
              Participantes
              <i class="fas fa-angle-left right" style="cursor: pointer;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/coordinador/tipos-de-participantes" class="nav-link text-white">
                <i class="fas fa-user ps-3"></i>
                <p class="ps-1">Registrar tipos</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="coordinador/#" class="nav-link text-white">
            <i class="fas fa-file-pdf ps-2"></i>
            <p class="ps-2">
              Documentos
              <i class="fas fa-angle-left right" style="cursor: pointer;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/coordinador/documentos" class="nav-link text-white">
                <i class="fas fa-fw fa-plus ps-3"></i>
                <p class="ps-3">Generar y enviar</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/coordinador/validar-documento" class="nav-link text-white">
                <i class="fas fa-fw fa-check ps-3"></i>
                <p class="ps-3">Validar Documentos</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>


<div class="">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Panel Coordinador</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </section>
  </div>
  <aside class="control-sidebar control-sidebar-dark"></aside>
  <footer class="main-footer" style="background: #13293D;">
    <strong>Copyright &copy; 2014-2024 <a href="http://www.itchetumal.edu.mx/">ITCH</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
    <b>TECNM</b>
    </div>
  </footer>
</div>


