<app-participantes>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let evento of eventos">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{evento.nameEvent}}</h5>
              <p class="card-text">{{evento.description}}</p>
            </div>
            <div class="ps-3 pb-1">
                <button class="btn btn-primary" (click)="inscribirse(evento.id)">Regístrate</button>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
</app-participantes>
