.contenedor-a4 {
    width: 297mm;
    height: 210mm;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;  /* Necesario para posicionar el contenido relativo a este contenedor */
    margin: 0;
    padding: 0;
}

/* Imagen de fondo que se adapta al contenedor A4 */
.background-image {
    width: 100%;  /* Ancho completo del contenedor */
    height: 100%; /* Altura completa del contenedor */
    object-fit: cover;  /* La imagen se ajusta sin distorsionarse */
    position: absolute;  /* La imagen está detrás del contenido */
    top: 0;
    left: 0;
    z-index: 1;  /* La imagen tiene un z-index menor, por lo que está detrás */
}

.background-image-qr{
    object-fit: cover;  /* La imagen se ajusta sin distorsionarse */
    position: absolute;  /* La imagen está detrás del contenido */
    bottom: 50px;
    z-index: 1;  /* La imagen tiene un z-index menor, por lo que está detrás */
    width: 110px;
    height: 100px;
    
}

/* Div que aparece delante de la imagen */
.content-overlay {
    z-index: 2;  /* El contenido está por delante de la imagen */
    cursor: move;
}

/* Estilo del texto dentro del div de superposición */
.text-overlay {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}

.draggable-content{
   position: absolute;
   height: 50px;
   width: 430px;
   
   
}

.contenedor-descripcion{
    position: absolute;
    width: 548px;
    height: 80px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    color: black;
}
.descripcion_txt{
    width: 548px;
    height: 80px;  
}

.contenedor-fecha{
    position: absolute;
    height: 30px;
    width: 265px;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenedor-a4 {
        width: 90vw;
        height: calc(90vw * 210 / 297);
    }

    .contenedor-a4 .img {
        width: 50px;
        height: 50px;
    }

    .text-overlay {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .contenedor-a4 {
        width: 95vw;
        height: calc(95vw * 210 / 297);
    }

    .text-overlay {
        font-size: 5vw;
    }
}
