<!--cdkDrag se agrega al elemento que quieres que se arrastre-->
<!--el evento cdkDragReleased es específico para un solo elemento-->
<!--
<div class="primer_div" cdkDrag (cdkDragReleased)="onDragReleased($event)">
    Drag me around
</div>
-->

<!--<div class="contenedor_principal mh-100 mw-100">
    <img class="imagen mx-auto d-block" src="../../../../../assets/plantillas_documentos/ponente/TEC.png" alt="plantilla_ponente">
    <div class="contenedor_datos" cdkDrag (cdkDragReleased)="onDragReleased($event)">
        <p></p>
        <p>Mario</p>
        <p>Pérez</p>
        <p>Ramírez</p>
    </div>

    <div class="mw-100 d-flex justify-content-center  p-2 contenedor-botones">
        <button type="button" class="btn btn-danger me-2">Cancelar</button>
        <button type="button" class="btn btn-primary ms-1">Aceptar</button>
    </div>
</div>-->

<div class=" contenedor_principal">
    <img class="imagen mx-auto d-block w-auto" [src]="url_plantilla"  [alt]="tipo_plantilla">
    <div class="contenedor_datos" cdkDrag (cdkDragReleased)="onDragReleased($event)" *ngFor="let participante of participantes">
        <p>{{participante.Nombres}}</p>
        <p>{{participante.ApellidoPaterno}}</p>
        <p>{{participante.ApellidoMaterno}}</p>
    </div>
    <div class="container-fluid d-flex justify-content-center contenedor-botones">
        <button type="button" class="btn btn-danger me-2" routerLink="/coordinador/documentos">Cancelar</button>
        <a class="btn btn-primary ms-1" [routerLink]="['/coordinador/documentos',coordenada_x_mm, coordenada_y_mm]">Aceptar</a>
    </div>   
</div>




  
  
